{{#each this}}
<h2 class="country"><img src="{{flag}}" alt="flag {{name}}" class="image" height=30>{{name}}</h2>
<div class="country-info"><span class="details">Capital:</span> {{capital}}</div>
<div class="country-info"><span class="details">Population:</span> {{population}}</div>
<div class="country-info"><span class="details">Languages:</span> 
<ul class="languages">
    {{#each languages}}
    <li class="languages-item">{{name}}</li>
    {{/each}}
</ul>
{{/each}}

</div>

